#dashboard{

.header {
  .menu{
    position: absolute;
    top: 120px;
    //width: 90%;
    .filter-menu{
      display: flex;
      .filter-name {
        background: #9d81ae;
        color: #FFFFFF;
        padding: 8px 16px;
        height: 40px;
        line-height: 24px;
        font-size: 16px;
        border-radius: 8px 0 0 0;
      }
      .selected-filter {
        margin-left: 1px;
        background: #9d81ae;
        color: #FFFFFF;
        padding: 8px 16px;
        height: 40px;
        line-height: 24px;
        font-size: 16px;
      }
      .filter-selector {
        margin-left: 1px;
        background: #9d81ae;
        border-radius: 0 8px 0 0;

        mat-icon {
          color: #FFFFFF;
        }
      }
    }
  }
}

}