<div fxLayout="column" class="p-12">

  <h1>Categories</h1>

  <table mat-table width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>id_categorie</th>
      <th>nom_categorie</th>
    </tr>
    <tr *ngFor="let categorie of categories">
      <td>{{ categorie.id_categorie }}</td>
      <td>{{ categorie.nom_categorie }}</td>
      <!--
      <td>
        <button (click)="deletePolicy(policy.id)">Delete</button>
        <button (click)="selectPolicy(policy)">Update</button>
      </td>
      -->
    </tr>
  </table>

<div>